{% extends 'index.html' %}
{% load bootstrap %}


{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Check Completed Goals</h1>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <form action="{% url 'journal:edit_entry' response.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit"/>
            </form>
            <p><a href="{% url 'journal:deleted_goals' %}">Deleted Goals</a></p>
        </div>
    </div>
</div>
{% endblock %}