{% extends 'base.html' %}


{% block home %}{% endblock %}
{% block journal %}class="active"{% endblock %}
{% block content %}
{% block goals %}

<div class="container-fluid">
    <h2 class="text-center">Riley's Journal</h2>

    <div class="col-xs-12 col-sm-4">
        <h4 class="text-center">Weekly Goals</h4>
        {% for goal in goals %}
        {% if goal.active %}
        <div class="well well-sm">
            <ol class="text-center"><strong>{{ goal.text }}</strong><br>
                {% for go in goal.goal_set.all %}<br>
                <li class="text-center">{{ go.text }}</li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
        {% endfor %}
        <h4 class="text-center">Want to <a href="{% url 'journal:goals' %}">add a goal?</a></h4>
    </div>
    {% endblock %}
    <div class="col-xs-8">

        {% block events %}

        <div>
            <h2 class="text-center">Important Events</h2>
            <ul>
                {% for event in events %}
                <li><strong>{{ event.days_left }}</strong> days left until {{ event.date|date:"m/d" }} - {{ event.text }}</li>
                {% endfor %}
            </ul>
            <h5 class="text-center">Want to <a href="{% url 'journal:events' %}">add an event?</a></h5>
        </div>


        {% block forms %}
        <h4 class="text-center">Would you like to log a <a href="{% url 'journal:entry' entry_type='morning' %}">morning</a> or an <a
                href="{% url 'journal:entry' entry_type='evening' %}">evening</a> entry?</h4>
        {% endblock %}
    </div>

    {% endblock %}
</div>
    {% endblock %}