{% extends 'index.html' %}
{% load bootstrap %}

{% block events %}

<div>
    <h2 class="text-center">Important Events</h2>
    <ul>
    {% for event in events %}
            <li><strong>{{ event.days_left }}</strong> days left until {{ event.date|date:"m/d" }} - {{ event.text }}</li>
    {% endfor %}
    </ul>
<p>Want to <a href="{% url 'journal:events' %}">add an event?</a></p>
</div>
        {% endblock %}
    {% block forms %}
<div>
        <h2>Journal</h2>
<form action="{% url 'journal:morning' %}" method="post">
    {% csrf_token %}
    {{ morning_form|bootstrap }}
    <input type="submit" value="Submit" />
</form>
    </div>

{% endblock %}
