{% extends 'base.html' %}

{% block content%}
<div class="container">
    <h2>Weekly Goals</h2>
<div>
{% for goal in goals %}
    {% if goal.active %}
        <ul><strong>{{ goal.text }}</strong><br>
        {% for go in goal.goal_set.all %}<br>
            <li>{{ go.text }}
            {% endfor %}
        </ul>

    {% endif %}
{% endfor %}


<p>Want to <a href="{% url 'journal:goals' %}">add a goal?</a></p>
</div>
<div>
    <h2>Important Events</h2>
    <ul>
    {% for event in events %}
            <li><strong>{{ event.days_left }}</strong> days left until {{ event.date|date:"m/d" }} - {{ event.text }}</li>
    {% endfor %}
    </ul>
<p>Want to <a href="{% url 'journal:events' %}">add an event?</a></p>
</div>
<div>
        <h2>Journal</h2>
<form action="{% url 'journal:morning' %}" method="post">
    {% csrf_token %}
    {{ morning_form.as_p }}
    <input type="submit" value="Submit" />
</form>
    </div>
    </div>
{% endblock %}
